/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh; /* viewport hiehgt. 100 would fill everything */
    background-image: linear-gradient( 
            to right bottom,
             rgba(126, 213, 111, 0.8), /* 80% of the color will be visible */
             rgba(40, 180, 131, 0.8)), 
        url('../img/hero.jpg'); 
    background-size: cover;
    background-position: top;
    position: relative; /* parent position of logo-box */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo { /* no need to specify the width because the browser will do it for you */
    height: 35px;
}

/* this box must be at the center regardless of the width and height of the browser */
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* shift the starting of the box to the center, transform is in relation to the element itself */
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /* fix the shaking animation */
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    /* initial state */
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    /* final state */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* :link is a psuedo class, this acts as the parent class for hover and active */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s; 
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px); /* related to the initial link state */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

/* pseudo element is treated as a child of the parent (button) element */
.btn::after {
    content: ""; 
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute; /* hidden behind the button */
    top: 0;
    left: 0;
    z-index: -1; /* hidden behind the button */
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6); /* appear double the size */
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s; /* animation name, duration, animation style, delay */
    animation-fill-mode: backwards; /* automatically apply the styles of the 0% before the animation starts */
}